# 忽略虚拟环境
clean_env/

# 忽略打包输出
__pycache__/
build/
dist/
*.spec

# 忽略临时文件
*.log
*.pyc
*.pyo
*.bak

# 忽略 IDE 文件
.vscode/
.idea/
*.json
*.png
flask_webapp/summary_cache/2025-06-23.json
flask_webapp/static/plots/2025-06-13.png
