# 忽略虚拟环境
clean_env/

# 忽略打包输出
__pycache__/
build/
dist/
*.spec

# 忽略临时文件
*.log
*.pyc
*.pyo
*.bak

# 忽略 IDE 文件
.vscode/
.idea/

# 忽略缓存文件
.summary_cache/
.cache/
/summary_cache/2025-06-13.json
/summary_cache/2025-06-22.json
/cache/2025-06-28.json
